<%= image_tag "kronooos.jpg" %><span class="tiny">Graphic by michael squid</span>

<h2>Instructions</h2>
<p>
You are KRATOS: <%= image_tag "kratos.png" %><br/>
<br/>
Use A, S, D, W keys to move around.<br/>
<br/>
Your objective is to get all of the RUBBISH (<%= image_tag "rubbish.png" %>) into bins (<%= image_tag "bin.png" %>).<br/>
You can only hold one <%= image_tag "rubbish.png" %> at a time.<br/>
You are covered with BEAN LARD, which is very slippery.  This means that once you start moving, you generally can't stop until you hit a wall.<br/>
The NORMAL walls look like this: <%= image_tag "vertical_wall.png" %><br/>
The BREAKABLE walls look like this: <%= image_tag "vertical_breakable_wall.png" %><br/>
The first time you run into a BREAKABLE wall, it breaks and disappears.<br/>
You have a certain amount of health, displayed towards the top of the level.  If you run out of health, you die and lose.<br/>
If you run over an UNDEAD <%= image_tag "undead.png" %> you destroy it and lose one health.<br/>
If you run into a MINOTAUR <%= image_tag "minotaur.png" %> you destroy it, lose two health, and are "bounced" off, so that your very next move must be at a right angle to your previous one.<br/>
If you run over a HEALTHBOX <%= image_tag "healthbox.png" %> you consume it and regain full health.<br/>
</p>

<table>

<% @game_levels.each do |game_level| %>
  <tr>
    <td><%=h game_level.name %></td>
    <td><%=h game_level.level_num %></td>
    <td><%=h game_level.shortest_solution_string %></td>
    <td><%=h game_level.shortest_solution_player %></td>
    <td><%= link_to 'Play', game_level %></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Created By: <%= game_level.created_by %></td>
    <td><%#= link_to 'Edit', edit_game_level_path(game_level) %></td>
    <td><%#= link_to 'Destroy', game_level, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Level', new_game_level_path %>