<h1>New game_level</h1>

<% form_for(@game_level) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :level_num %><br />
    <%= f.text_field :level_num %>
  </p>
  <p>
    <%= f.label :level_array_string %><br />
    <%= f.text_field :level_array_string %>
  </p>
  <p>
    <%= f.label :shortest_solution_string %><br />
    <%= f.text_field :shortest_solution_string %>
  </p>
  <p>
    <%= f.label :shortest_solution_player %><br />
    <%= f.text_field :shortest_solution_player %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', game_levels_path %>